{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Rejestracja{% endblock %}

{% block content %}
    <div class="container">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1 class="h3 mb-3 mt-5 fo text-center fw-normal ">Rejestracja</h1>
        {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-primary mt-3 mb-3">Załóż konto</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
